## Volleyball results scrape

In [2]:
from urllib.request import urlopen
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
volleyball_results_2020 = pd.DataFrame(index=None)

opponent_list = []
date_list = []
result_list = []    
year_list = []

schedule_url = 'https://mutigers.com/sports/womens-volleyball/schedule/2020'
    # empty lists


# Set up parser
page = urlopen(schedule_url)
html = page.read().decode('utf-8')
soup = BeautifulSoup(html,"html.parser")

# pull info
otags = soup.find_all('div',{"class":'sidearm-schedule-game-opponent-name'})
dtags = soup.find_all('div',{"class":'sidearm-schedule-game-opponent-date'})
rtags = soup.find_all('div',{'class':'sidearm-schedule-game-result'})

# get result tag
for rtag in rtags:
    game_result = rtag.find('span')
    if game_result:
        game_results = rtag.text

        #store names
        result_list.append(game_results.strip().replace('\n'," "))
        print(game_results.strip().replace('\n'," ")+", year: "+schedule_url[-4:])

# get opponent tag
for otag in otags:
    opponent_name = otag.find('a')
    if opponent_name:
        opponent_names = otag.text

        # store names
        opponent_list.append(opponent_names.strip().replace("\n"," "))

        # print(opponent_names.strip())
    year_list.append(schedule_url[-4:])
# get date tag
for dtag in dtags:
    game_date = dtag.find('span')
    if game_date:
        game_dates = dtag.text

        # store names
        date_list.append(game_dates.strip().replace("\n"," "))
        # print(game_dates.strip())

W, 3-1, year: 2020
W, 3-0, year: 2020
L, 3-1, year: 2020
L, 3-1, year: 2020
W, 3-2, year: 2020
W, 3-0, year: 2020
W, 3-2, year: 2020
W, 3-1, year: 2020
W, 3-2, year: 2020
W, 3-2, year: 2020
L, 3-2, year: 2020
L, 3-0, year: 2020
W, 3-0, year: 2020
W, 3-0, year: 2020
W, 3-0, year: 2020
L, 3-1, year: 2020
L, 3-2, year: 2020
L, 3-0, year: 2020
W, 3-0, year: 2020
W, 3-2, year: 2020
W, 3-0, year: 2020
W, 3-0, year: 2020
W, 3-0, year: 2020
L, 3-0, year: 2020

In [4]:
otags

[<div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Alabama on October 21 6 PM" href="http://www.rolltide.com/" target="_blank">Alabama</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Alabama on October 22 8:30 PM" href="http://www.rolltide.com/" target="_blank">Alabama</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="(#3) Kentucky on October 28 8 PM" href="https://ukathletics.com/" target="_blank">(#3) Kentucky</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="(#3) Kentucky on October 29 8 PM" href="https://ukathletics.com/" target="_blank">(#3) Kentucky</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="(RV) Arkansas on November 4 5 PM" href="http://www.arkansasrazorbacks.com/" target="_blank">(RV) Arkansas</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="(RV) Arkansas on November 5 6 PM" href="http://www.arkansasrazorbacks.com/" target="_blank">(RV) Arkansas</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Ole Miss on November 20 Noon" href="http://www.olemisssports.com/" target="_blank">Ole Miss</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Ole Miss on November 21 Noon" href="http://www.olemisssports.com/" target="_blank">Ole Miss</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="LSU on January 29 6 PM" href="http://www.lsusports.net/" target="_blank">LSU</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="LSU on January 30 8 PM" href="http://www.lsusports.net/" target="_blank">LSU</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Tennessee on February 12 5:30 PM" href="http://www.utsports.com/" target="_blank">Tennessee</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Tennessee on February 13 5:30 PM" href="http://www.utsports.com/" target="_blank">Tennessee</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Georgia on February 19 6 PM" href="http://www.georgiadogs.com/" target="_blank">Georgia</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Georgia on February 20 7 PM" href="http://www.georgiadogs.com/" target="_blank">Georgia</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="South Carolina on February 26 2 PM" href="http://www.gamecocksonline.com/" target="_blank">South Carolina</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="South Carolina on February 27 11 AM" href="http://www.gamecocksonline.com/" target="_blank">South Carolina</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="(#7) Florida on March 12 12 PM" href="http://www.floridagators.com/" target="_blank">(#7) Florida</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="(#7) Florida on March 13 3PM" href="http://www.floridagators.com/" target="_blank">(#7) Florida</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Texas A&amp;M on March 19 6 PM" href="http://www.12thman.com/" target="_blank">Texas A&amp;M</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Texas A&amp;M  on March 20 6 PM" href="http://www.12thman.com/" target="_blank">Texas A&amp;M </a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Mississippi State  on March 24 3 PM" href="http://www.hailstate.com" target="_blank">Mississippi State </a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Mississippi State  on March 25 11 AM" href="http://www.hailstate.com" target="_blank">Mississippi State </a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="South Dakota on April 14 11 AM" href="http://www.goyotes.com/" target="_blank">South Dakota</a>
 </div>,
 <div class="sidearm-schedule-game-opponent-name">
 <a aria-label="Ohio State on April 15 11 AM" href="http://www.ohiostatebuckeyes.com" target="_blank">Ohio State</a>
 </div>]

In [5]:
volleyball_results_2020['opponent'] = opponent_list
volleyball_results_2020['game_full_date'] = date_list
volleyball_results_2020['game_year'] = year_list
volleyball_results_2020['game_result'] = result_list

volleyball_results_2020[['game_date','game_full_date']] = volleyball_results_2020['game_full_date'].str.split("(",expand=True)
volleyball_results_2020[['game_day_of_week','game_time']] = volleyball_results_2020['game_full_date'].str.split(")",expand=True)
volleyball_results_2020[['game_result','game_score']] = volleyball_results_2020['game_result'].str.split(',',expand=True)
volleyball_results_2020[['win_score','lost_score']] = volleyball_results_2020['game_score'].str.split('-',expand=True)

volleyball_results_2020['win_score'] = pd.to_numeric(volleyball_results_2020['win_score'])
volleyball_results_2020['lost_score'] = pd.to_numeric(volleyball_results_2020['lost_score'])

volleyball_results_2020['total_sets'] = volleyball_results_2020['win_score'] + volleyball_results_2020['lost_score']

In [6]:
volleyball_results_2020

,opponent,game_full_date,game_year,game_result,game_date,game_day_of_week,game_time,game_score,win_score,lost_score,total_sets
0,Alabama,Wed) 6 PM,2020,W,Oct 21,Wed,6 PM,3-1,3,1,4
1,Alabama,Thu) 8:30 PM,2020,W,Oct 22,Thu,8:30 PM,3-0,3,0,3
2,(#3) Kentucky,Wed) 8 PM,2020,L,Oct 28,Wed,8 PM,3-1,3,1,4
3,(#3) Kentucky,Thu) 8 PM,2020,L,Oct 29,Thu,8 PM,3-1,3,1,4
4,(RV) Arkansas,Wed) 5 PM,2020,W,Nov 4,Wed,5 PM,3-2,3,2,5
5,(RV) Arkansas,Thu) 6 PM,2020,W,Nov 5,Thu,6 PM,3-0,3,0,3
6,Ole Miss,Fri) Noon,2020,W,Nov 20,Fri,Noon,3-2,3,2,5
7,Ole Miss,Sat) Noon,2020,W,Nov 21,Sat,Noon,3-1,3,1,4
8,LSU,Fri) 6 PM,2020,W,Jan 29,Fri,6 PM,3-2,3,2,5
9,LSU,Sat) 8 PM,2020,W,Jan 30,Sat,8 PM,3-2,3,2,5
10,Tennessee,Fri) 5:30 PM,2020,L,Feb 12,Fri,5:30 PM,3-2,3,2,5
11,Tennessee,Sat) 5:30 PM,2020,L,Feb 13,Sat,5:30 PM,3-0,3,0,3
12,Georgia,Fri) 6 PM,2020,W,Feb 19,Fri,6 PM,3-0,3,0,3
13,Georgia,Sat) 7 PM,2020,W,Feb 20,Sat,7 PM,3-0,3,0,3
14,South Carolina,Fri) 2 PM,2020,W,Feb 26,Fri,2 PM,3-0,3,0,3
15,South Carolina,Sat) 11 AM,2020,L,Feb 27,Sat,11 AM,3-1,3,1,4
16,(#7) Florida,Fri) 12 PM,2020,L,Mar 12,Fri,12 PM,3-2,3,2,5
17,(#7) Florida,Sat) 3PM,2020,L,Mar 13,Sat,3PM,3-0,3,0,3
18,Texas A&M,Fri) 6 PM,2020,W,Mar 19,Fri,6 PM,3-0,3,0,3
19,Texas A&M,Sat) 6 PM,2020,W,Mar 20,Sat,6 PM,3-2,3,2,5
20,Mississippi State,Wed) 3 PM,2020,W,Mar 24,Wed,3 PM,3-0,3,0,3
21,Mississippi State,Thu) 11 AM,2020,W,Mar 25,Thu,11 AM,3-0,3,0,3
22,South Dakota,Wed) 11 AM,2020,W,Apr 14,Wed,11 AM,3-0,3,0,3
23,Ohio State,Thu) 11 AM,2020,L,Apr 15,Thu,11 AM,3-0,3,0,3

In [7]:
pd.crosstab(index = volleyball_results_2020['total_sets'], columns = volleyball_results_2020['game_result'])

game_result  L  W
total_sets
3            3  9
4            3  2
5            2  5

In [8]:
pd.crosstab(index = volleyball_results_2020['game_day_of_week'], columns = volleyball_results_2020['game_result'])

game_result       L  W
game_day_of_week
Fri               2  5
Sat               3  4
Thu               2  3
Wed               1  4

### Volleyball historical record

In [9]:
years = []
for year in range(2014,2021):
    years.append(str(year))

In [10]:
base_schedule_url = 'https://mutigers.com/sports/womens-volleyball/schedule/'
schedule_urls = []
for year in years:
    miz_schedule_url = base_schedule_url+year
    schedule_urls.append(miz_schedule_url)

In [11]:
print(schedule_urls)

['https://mutigers.com/sports/womens-volleyball/schedule/2014', 'https://mutigers.com/sports/womens-volleyball/schedule/2015', 'https://mutigers.com/sports/womens-volleyball/schedule/2016', 'https://mutigers.com/sports/womens-volleyball/schedule/2017', 'https://mutigers.com/sports/womens-volleyball/schedule/2018', 'https://mutigers.com/sports/womens-volleyball/schedule/2019', 'https://mutigers.com/sports/womens-volleyball/schedule/2020']

In [12]:
miz_hist_record = pd.DataFrame(index=None)
opponent_list = []
date_list = []
result_list = []    
year_list = []

for schedule_url in schedule_urls:
    # empty lists

    
    # Set up parser
    page = urlopen(schedule_url)
    html = page.read().decode('utf-8')
    soup = BeautifulSoup(html,"html.parser")
    
    # pull info
    otags = soup.find_all('div',{"class":'sidearm-schedule-game-opponent-name'})
    dtags = soup.find_all('div',{"class":'sidearm-schedule-game-opponent-date'})
    rtags = soup.find_all('div',{'class':'sidearm-schedule-game-result'})
    
    # get result tag
    for rtag in rtags[1:]:
        game_result = rtag.find('span')
        if game_result:
            game_results = rtag.text
            
            #store names
            result_list.append(game_results.strip().replace('\n'," "))
            # print(game_results.strip().replace('\n'," ")+", year: "+schedule_url[-4:])
            
    # get opponent tag
    for otag in otags[1:]:
        opponent_name = otag.find('a')
        if opponent_name:
            opponent_names = otag.text
            
            # store names
            opponent_list.append(opponent_names.strip().replace("\n"," "))
            
           # print(opponent_names.strip())
        year_list.append(schedule_url[-4:])
    # get date tag
    for dtag in dtags[1:]:
        game_date = dtag.find('span')
        if game_date:
            game_dates = dtag.text
            
            # store names
            date_list.append(game_dates.strip().replace("\n"," "))
            # print(game_dates.strip())

In [13]:
len(opponent_list[:])

218

In [14]:
len(result_list[:])

218

In [15]:
miz_hist_record['opponent'] = opponent_list
miz_hist_record['game_full_date'] = date_list
miz_hist_record['game_year'] = year_list
miz_hist_record['game_result'] = result_list

# miz_hist_record[['game_date','game_full_date']] = miz_hist_record['game_full_date'].str.split("(",expand=True)
# miz_hist_record[['game_day_of_week','game_time']] = miz_hist_record['game_full_date'].str.split(")",expand=True)
miz_hist_record[['game_result','game_score']] = miz_hist_record['game_result'].str.split(',',expand=True)
miz_hist_record[['win_score','lost_score']] = miz_hist_record['game_score'].str.split('-',expand=True)

miz_hist_record['win_score'] = pd.to_numeric(miz_hist_record['win_score'])
miz_hist_record['lost_score'] = pd.to_numeric(miz_hist_record['lost_score'])

miz_hist_record['total_sets'] = miz_hist_record['win_score'] + miz_hist_record['lost_score']

In [16]:
miz_hist_record[-20:]

,opponent,game_full_date,game_year,game_result,game_score,win_score,lost_score,total_sets
198,(RV) Arkansas,Nov 4 (Wed) 5 PM,2020,W,3-2,3,2,5
199,(RV) Arkansas,Nov 5 (Thu) 6 PM,2020,W,3-0,3,0,3
200,Ole Miss,Nov 20 (Fri) Noon,2020,W,3-2,3,2,5
201,Ole Miss,Nov 21 (Sat) Noon,2020,W,3-1,3,1,4
202,LSU,Jan 29 (Fri) 6 PM,2020,W,3-2,3,2,5
203,LSU,Jan 30 (Sat) 8 PM,2020,W,3-2,3,2,5
204,Tennessee,Feb 12 (Fri) 5:30 PM,2020,L,3-2,3,2,5
205,Tennessee,Feb 13 (Sat) 5:30 PM,2020,L,3-0,3,0,3
206,Georgia,Feb 19 (Fri) 6 PM,2020,W,3-0,3,0,3
207,Georgia,Feb 20 (Sat) 7 PM,2020,W,3-0,3,0,3
208,South Carolina,Feb 26 (Fri) 2 PM,2020,W,3-0,3,0,3
209,South Carolina,Feb 27 (Sat) 11 AM,2020,L,3-1,3,1,4
210,(#7) Florida,Mar 12 (Fri) 12 PM,2020,L,3-2,3,2,5
211,(#7) Florida,Mar 13 (Sat) 3PM,2020,L,3-0,3,0,3
212,Texas A&M,Mar 19 (Fri) 6 PM,2020,W,3-0,3,0,3
213,Texas A&M,Mar 20 (Sat) 6 PM,2020,W,3-2,3,2,5
214,Mississippi State,Mar 24 (Wed) 3 PM,2020,W,3-0,3,0,3
215,Mississippi State,Mar 25 (Thu) 11 AM,2020,W,3-0,3,0,3
216,South Dakota,Apr 14 (Wed) 11 AM,2020,W,3-0,3,0,3
217,Ohio State,Apr 15 (Thu) 11 AM,2020,L,3-0,3,0,3

In [17]:
pd.crosstab(index = miz_hist_record['game_year'], columns = miz_hist_record['game_result'])

game_result   L   W
game_year
2014         17  15
2015          6  27
2016          6  27
2017         12  22
2018          8  24
2019          9  22
2020          8  15

In [18]:
opponent = 'Florida'
vs_opponent = miz_hist_record[miz_hist_record['opponent'].str.contains(opponent)]
vs_opponent

,opponent,game_full_date,game_year,game_result,game_score,win_score,lost_score,total_sets
21,Florida,Oct 24 (Fri) 6:00PM,2014,L,3-0,3,0,3
35,Florida Gulf Coast,Sep 4 (Fri) 3:30 PM,2015,W,3-0,3,0,3
37,South Florida,Sep 5 (Sat) 6:00 PM,2015,W,3-1,3,1,4
45,Florida,Sep 30 (Wed) 7:00 PM SEC Network,2015,W,3-2,3,2,5
52,Florida,Oct 25 (Sun) 12:30 PM SEC Network +,2015,L,3-0,3,0,3
92,#5 Florida,Nov 20 (Sun) 3 PM,2016,W,3-2,3,2,5
124,(#4) Florida,Nov 12 (Sun) 12 PM,2017,L,3-1,3,1,4
128,(#3) Florida,Nov 25 (Sat) 1:30 PM,2017,L,3-1,3,1,4
153,(#11) Florida,Oct 21 (Sun) Noon,2018,W,3-2,3,2,5
183,(#13) Florida,Oct 30 (Wed) 8 PM,2019,L,3-2,3,2,5
210,(#7) Florida,Mar 12 (Fri) 12 PM,2020,L,3-2,3,2,5
211,(#7) Florida,Mar 13 (Sat) 3PM,2020,L,3-0,3,0,3

In [19]:
pd.crosstab(index = miz_hist_record['total_sets'], columns = miz_hist_record['game_result'])

game_result   L   W
total_sets
3            24  70
4            26  48
5            16  34

### Roster Composition Scrape

In [36]:
miz_roster = pd.DataFrame(index=None)

position_list = []
fname_list = []
lname_list = []


roster_url = 'https://mutigers.com/sports/womens-volleyball/roster/2021'
    # empty lists


# Set up parser
page = urlopen(roster_url)
html = page.read().decode('utf-8')
soup = BeautifulSoup(html,"html.parser")

# pull info
pos_tags = soup.find_all('div',{"class":'sidearm-roster-player-position'})
last_names = soup.find_all('span',{'class':"sidearm-roster-player-last-name"})
first_names = soup.find_all('span',{'class':"sidearm-roster-player-first-name"})


# get position tag
for pos_tag in pos_tags:
    pos_tag = pos_tag.find('span')
    if pos_tag:
        positions = pos_tag.text

        # store names
        position_list.append(positions.strip().replace("\n"," "))

        # print(opponent_names.strip())

# get result tag
        
for first_name in first_names:
    fname_list.append(first_name.text)
    
for last_name in last_names:
    lname_list.append(last_name.text)

In [40]:
miz_roster['first_name'] = fname_list[:-6]
miz_roster['last_name'] = lname_list[:-6]
miz_roster['position'] = position_list

In [41]:
len(position_list)

15

In [42]:
miz_roster

   first_name      last_name position
0       Kayla        Burbage       MB
1        Erin     Williamson       DS
2      Jordan          Iliff       RS
3       Emily          Brown       DS
4      Lauren         Forbes       DS
5      Kaylee            Cox       OH
6     Leandra  Mangual-Duran       OH
7      Morgan       Isenberg       MB
8        Anna         D'Cruz       MB
9       Brynn        Carlson       OH
10     Nicole         Alford        S
11    Addison           Lyon        S
12     Trista       Strasser       MB
13       Anna          Dixon       OH
14     Skylar        Buckley       DS

In [43]:
miz_roster['position'].value_countsunts()

OH    4
MB    4
DS    4
S     2
RS    1
Name: position, dtype: int64

In [57]:
kc_roster = pd.DataFrame(index=None)

position_list = []
fname_list = []
lname_list = []


roster_url = 'https://kcroos.com/sports/womens-volleyball/roster/2021'
    # empty lists


# Set up parser
page = urlopen(roster_url)
html = page.read().decode('utf-8')
soup = BeautifulSoup(html,"html.parser")

# pull info
pos_tags = soup.find_all('div',{"class":'sidearm-roster-player-position'})
last_names = soup.find_all('span',{'class':"sidearm-roster-player-last-name"})
first_names = soup.find_all('span',{'class':"sidearm-roster-player-first-name"})


# get position tag
for pos_tag in pos_tags:
    pos_tag = pos_tag.find('span')
    if pos_tag:
        positions = pos_tag.text

        # store names
        position_list.append(positions.strip().replace("\n"," "))

        # print(opponent_names.strip())

# get result tag
        
for first_name in first_names:
    fname_list.append(first_name.text)
    
for last_name in last_names:
    lname_list.append(last_name.text)

In [58]:
kc_roster['first_name'] = fname_list[:-4]
kc_roster['last_name'] = lname_list[:-4]
kc_roster['position'] = position_list

In [60]:
kc_roster

   first_name     last_name                                           position
0      Maddie          Renn  Defensive Specialist/Libero\r \t\t\t\t\t\t\t\t...
1      Peyton      Van Nest  Setter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t       ...
2    De'Janae        Arnold  Middle Hitter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t...
3        Emma        Crouch  Outside Hitter/Right Side\r \t\t\t\t\t\t\t\t\t...
4     Kennedy  Schritenthal  Setter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t       ...
5        Bree      Thompson  Outside Hitter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\...
6     Melanie        Brecka  Right Side\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t   ...
7    Garionna         Pearl  Right Side/Outside Hitter\r \t\t\t\t\t\t\t\t\t...
8      Devynn           Day  Outside Hitter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\...
9        Leah         Green  Defensive Specialist/Libero\r \t\t\t\t\t\t\t\t...
10      Carly        Gillen  Middle Blocker\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\...
11      Raina         Smith  Outside Hitter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\...
12    Odyssey        Warren  Outside Hitter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\...
13       Alli      Schomers  Setter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t       ...

In [61]:
kc_roster['position'].value_counts()

Outside Hitter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                             \r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                            OH                   4
Setter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                             \r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                            S                            3
Defensive Specialist/Libero\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                             \r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                            DS/L    2
Middle Hitter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                             \r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                            MB                    1
Right Side\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                             \r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                            RS                       1
Right Side/Outside Hitter\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                             \r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                            RS/OH     1
Middle Blocker\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                             \r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                            MB                   1
Outside Hitter/Right Side\r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                             \r \t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t                            OH/RS     1
Name: position, dtype: int64